*{
    margin: 0;
    padding:0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing:border-box;
    /* border: 1px solid white; */
  }
  
body{
    width: 100%;
    height: 100%;
    background: black;
    color: #fff;
}

.header{
    width: 100vw;
    height: 100vh;
}

.video-bg{
    width: 100vw;
    height: 103.5vh;
    position: absolute;
    transform: scale(100%,100%);
    opacity: 0.45;
    top: 0;
    left: 0;
}

nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    padding: 5rem 5rem;
}

.logo{
    padding-left: 1.5rem;
    position: relative;
    width: 5.3rem;
    height: 5rem;
}

.nav-right{
    display: flex;
    position: relative;
    justify-content: center;
}

.nav-right a{
    font-size: 1.3rem;
    padding: 0 1.5rem;
    text-decoration: none;
    color: white;
}

#home{
    color: #3c63ff;
}

.nav-right a:hover{
    color: #3c63ff;
}

.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    transform: translate(-50%,-50%);
    text-align: center;
}

.header-content h3{
    letter-spacing: 0.5px;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
}

.header-content p{
    font-weight: 200;
    letter-spacing: 0.5px;
    font-size: 2rem;
}

#arrow-scroll{
    position: absolute;
    top: 93%;
    left: 50%;
    width: 100vw;
    transform: translate(-50%,-50%);
    text-align: center;
}

/* ----------------------------About Section--------------------------- */

#about-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

#about-heading h2{
    letter-spacing: 0.5px;
    font-size: 3rem;
    font-weight: 300;
}

#about-heading p{
    font-weight: 300;
    letter-spacing: 0.5px;
    font-size: 1.3rem;
}

.about{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 80vh;
    padding: 0 5rem;
    align-items: center;
}

.about-left{
    width: 50%;
    padding-bottom: 1rem;
}

.about-left p{
    border: 1px solid;
    padding: 2rem;
    margin: 4rem 1.5rem 4rem 3rem;
    font-size: 1.7rem;
    font-weight: 200;
    border-radius: 25px;
}

.about-right{
    width: 50%;
}

.about-rt-img img{
    height: auto;
    padding-left: 7rem;
    width: 90%;
}

/* ----------------------------Team Section--------------------------- */

#team-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

#team-heading h2{
    letter-spacing: 0.5px;
    font-size: 3rem;
    font-weight: 300;
}

#team-heading p{
    font-weight: 300;
    letter-spacing: 0.5px;
    font-size: 1.3rem;
}

.team-content{
    width: 100vw;
    height: 200vh;
    margin-top: 3.5rem;
    background-image: url(img/background.png);
    background-position: center;
    background-repeat: repeat-y;
}

.team-row-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 26%;
    padding: 0 10rem;
}

.card1{
    width: 25%;
    height: 100%;
    border: 1px;
    border: 3px solid #3c63ff;
    background-color: black;
    background-position: center;
    border-radius: 25px;
}

.card1:hover{
    background-color: #3c63ff;
    transition: ease 300ms;
}

.image{
    display: flex;
    padding: 1.7rem 1.7rem 0.7rem 1.7rem;
    justify-content: center;
    align-items: center;
}

.image img{
    height: 100%;
    width: 100%;
    border-radius: 30px;
    border: 2.5px solid #3c63ff;
}

.card1-content{
    text-align: center;
    padding: 1rem 0 0.7rem 0;
}

.card1-content h3{
    font-weight: 300;
}

.card1-content p{
    font-size: 1rem;
    font-weight: 300;
}

.card1-content-links{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: #fff 1px solid;
    padding: 0.2rem 0.5rem;
    margin: 0 5rem;
    border-radius: 7px;
}

.card2{
    width: 25%;
    height: 100%;
    margin: 0 3rem;
    border: 3px solid #3c63ff;
    background-color: black;
    border-radius: 25px;
}

.card2:hover{
    background-color: #3c63ff;
    transition: ease 300ms;
}

.card3{
    width: 25%;
    height: 100%;
    border: 3px solid #3c63ff;
    background-color: black;
    border-radius: 25px;
}

.card3:hover{
    background-color: #3c63ff;
    transition: ease 300ms;
}

/* Row 2 */

.team-row-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3rem;
    height: 21%;
    margin-top: 4rem;
    padding: 0 10rem;
}

.small-card1{
    width: 20%;
    height: 100%;
    border: 3px solid #3c63ff;
    background-color: black;
    border-radius: 25px;
}

.small-card1:hover{
    background-color: #3c63ff;
    transition: ease 300ms;
}

.small-card1 .image{
    display: flex;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
}

.small-card2 .image{
    display: flex;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
}

.small-card3 .image{
    display: flex;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
}

.small-card4 .image{
    display: flex;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
}

.small-card1-content{
    text-align: center;
    padding: 0;
    margin: 0;
}

.small-card1-content h3{
    font-size: 1rem;
    font-weight: 300;
}

.small-card1-content p{
    font-size: 0.85rem;
    font-weight: 300;
}

.small-card1-content-links{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
    background-color: black;
    border: #fff 1px solid;
    padding: 0.15rem 0;
    margin: 0.7rem 4.5rem;
    border-radius: 5px;
}

.small-card1-content-links img{
    width: 18px;
}

.small-card2{
    width: 20%;
    height: 100%;
    border: 3px solid #3c63ff;
    background-color: black;
    border-radius: 25px;
}

.small-card2:hover{
    background-color: #3c63ff;
    transition: ease 300ms;
}

.small-card3{
    width: 20%;
    height: 100%;
    border: 3px solid #3c63ff;
    background-color: black;
    border-radius: 25px;
}

.small-card3:hover{
    background-color: #3c63ff;
    transition: ease 300ms;
}

.small-card4{
    width: 20%;
    height: 100%;
    border: 3px solid #3c63ff;
    background-color: black;
    border-radius: 25px;
}

.small-card4:hover{
    background-color: #3c63ff;
    transition: ease 300ms;
}

/* ----------------------------Contact Section--------------------------- */

#contact-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

#contact-heading h2{
    letter-spacing: 0.5px;
    font-size: 3rem;
    font-weight: 300;
}

#contact-heading p{
    font-weight: 300;
    letter-spacing: 0.5px;
    font-size: 1.3rem;
}

.contact-content-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.contact-content-heading h3{
    font-size: 1.5rem;
    font-weight: 300;
}

.contact-content{
    display: flex;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    padding: 0 3rem;
}

.contact-content-left{
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    align-items: center;
}

.contact-content-left p{
    border: 1px solid;
    padding: 2rem;
    margin: 6.5rem 1.5rem 4rem 3rem;
    font-size: 1.7rem;
    font-weight: 200;
    border-radius: 25px;
}

.contact-content-left h1{
    padding: 2rem;
    margin: -3.5rem 1.5rem 4rem 3rem;
    font-size: 3rem;
    font-weight: 200;
}

.contact-content-right{
    width: 50%;
}

.contact-content-rt-img img{
    height: auto;
    padding-left: 7rem;
    width: 70%;
}

/*      Footer Section    */

.pre-footer h3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    width: 100vw;
    padding: 10px 50px;
}

.footer{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100vw;
    margin-bottom: 10%;
    padding: 10px 50px;
    border-top: #fff 1px solid;
}
  
.footer p{
    font-size: 1.1rem;
}
  
.footer a{
    font-size: 1.1rem;
    text-decoration: none;
    color: #3c63ff;
}



/*----------------------------------------------------------Responsive----------------------------------------------------------*/
/*----------------------------------------------------------Responsive----------------------------------------------------------*/
/*----------------------------------------------------------Responsive----------------------------------------------------------*/
/*----------------------------------------------------------Responsive----------------------------------------------------------*/
/*----------------------------------------------------------Responsive----------------------------------------------------------*/
/*----------------------------------------------------------Responsive----------------------------------------------------------*/
/*----------------------------------------------------------Responsive----------------------------------------------------------*/
/*----------------------------------------------------------Responsive----------------------------------------------------------*/
/*----------------------------------------------------------Responsive----------------------------------------------------------*/
/*----------------------------------------------------------Responsive----------------------------------------------------------*/
/*----------------------------------------------------------Responsive----------------------------------------------------------*/
/*----------------------------------------------------------Responsive----------------------------------------------------------*/
/*----------------------------------------------------------Responsive----------------------------------------------------------*/
/*----------------------------------------------------------Responsive----------------------------------------------------------*/
/*----------------------------------------------------------Responsive----------------------------------------------------------*/
/*----------------------------------------------------------Responsive----------------------------------------------------------*/
/*----------------------------------------------------------Responsive----------------------------------------------------------*/
/*----------------------------------------------------------Responsive----------------------------------------------------------*/
/*----------------------------------------------------------Responsive----------------------------------------------------------*/
/*----------------------------------------------------------Responsive----------------------------------------------------------*/
/*----------------------------------------------------------Responsive----------------------------------------------------------*/
/*----------------------------------------------------------Responsive----------------------------------------------------------*/
/*----------------------------------------------------------Responsive----------------------------------------------------------*/
/*----------------------------------------------------------Responsive----------------------------------------------------------*/
/*----------------------------------------------------------Responsive----------------------------------------------------------*/
/*----------------------------------------------------------Responsive----------------------------------------------------------*/
/*----------------------------------------------------------Responsive----------------------------------------------------------*/
/*----------------------------------------------------------Responsive----------------------------------------------------------*/
/*----------------------------------------------------------Responsive----------------------------------------------------------*/
/*----------------------------------------------------------Responsive----------------------------------------------------------*/
/*----------------------------------------------------------Responsive----------------------------------------------------------*/
/*----------------------------------------------------------Responsive----------------------------------------------------------*/


@media (max-width:450px) {
    .header{
        height: 55vh;
        background-size:150%;
        background-position:center center;
        background-repeat: no-repeat;
        padding: 1.85rem 2rem;
    }
    
    .logo{
        padding-left: 0;
        width: 1.83rem;
        height: 2.3rem;
    }
    
    .nav-right a{
        font-size: 0.6rem;
        padding: 0 0.5rem;
    }
    
    .header-content{
        top: 27.8%;
    }
    
    .header-content h3{
        font-size: 1rem;
        margin-bottom: 7px;
    }
    
    .header-content p{
        font-size: 0.7rem;
    }
    
    #arrow-scroll{
        top: 43%;
    }

    #arrow-scroll img{
        width: 20px;
    }
    
    /* ----------------------------About Section--------------------------- */
    
    #about-heading{
        margin-top: 0;
    }
    
    #about-heading h2{
        font-size: 1.3rem;
    }
    
    #about-heading p{
        font-size: 0.5rem;
    }
    
    .about{
        justify-content:center;
        flex-direction: column-reverse;
        height: 60vh;
        padding: 0;
    }
    
    .about-left{
        margin-top: 1.5rem;
        width: 100%;
        padding: 0;
    }
    
    .about-left p{
        border: 1px solid;
        padding: 1rem;
        margin: 0 3.7rem;
        font-size: 0.65rem;
        font-weight: 200;
        border-radius: 15px;
    }
    
    .about-right{
        width: 95%;
    }
    
    .about-rt-img img{
        height: auto;
        padding: 0 5rem;
        margin-top: 1rem;
        width: 100%;
    }
    
    /* ----------------------------Team Section--------------------------- */
    
    #team-heading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
    }
    
    #team-heading h2{
        letter-spacing: 0.5px;
        font-size: 1.3rem;
        font-weight: 300;
    }
    
    #team-heading p{
        font-weight: 300;
        letter-spacing: 0.5px;
        font-size: 0.5rem;
    }
    
    .team-content{
        width: 100vw;
        height: 85vh;
        margin-top: 1rem;
        background-image: url(img/background.png);
        background-position: center center;
        background-size: 250%;
        background-repeat: no-repeat;
    }
    
    .team-row-1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 24%;
        padding: 0 2rem;
    }
    
    .card1{
        width: 30%;
        height: 100%;
        border: 1px;
        border: 1px solid #3c63ff;
        background-color: black;
        background-position: center;
        border-radius: 15px;
    }
    
    .card1:hover{
        background-color: #3c63ff;
    }
    
    .image{
        display: flex;
        padding: 0.7rem 0.7rem 0 0.7rem;
        justify-content: center;
        align-items: center;
    }
    
    .image img{
        height: 100%;
        width: 100%;
        border-radius: 50%;
        border: 2.5px solid #3c63ff;
    }
    
    .card1-content{
        text-align: center;
        padding: 0.3rem 0;
    }
    
    .card1-content h3{
        font-size: 0.5rem;
        font-weight: 300;
    }
    
    .card1-content p{
        font-size: 0.4rem;
        font-weight: 300;
    }
    
    .card1-content-links{
        display: flex;
        gap: 5px;
        justify-content: center;
        align-items: center;
        background-color: black;
        border: #fff 0.07px solid;
        padding: 0;
        margin: 0 1.5rem;
        border-radius: 3px;
    }

    .card1-content-links a{
        padding: 0.15rem 0;
        margin: 0;
    }

    .card1-content-links img{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 8.5px;
    }
    
    .card2{
        width: 30%;
        height: 100%;
        margin: 0 1rem;
        border: 1px solid #3c63ff;
        background-color: black;
        border-radius: 15px;
    }
    
    .card2:hover{
        background-color: #3c63ff;
    }
    
    .card3{
        width: 30%;
        height: 100%;
        border: 1px solid #3c63ff;
        background-color: black;
        border-radius: 15px;
    }
    
    .card3:hover{
        background-color: #3c63ff;
    }
    
    /* Row 2 */
    
    .team-row-2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1rem;
        height: 20%;
        margin-top: 1.5rem;
        padding: 0;
    }
    
    .small-card1{
        width: 20%;
        height: 100%;
        border: 1px solid #3c63ff;
        background-color: black;
        border-radius: 12px;
    }
    
    .small-card1:hover{
        background-color: #3c63ff;
    }
    
    .small-card1 .image{
        display: flex;
        padding: 0.5rem;
        justify-content: center;
        align-items: center;
    }
    
    .small-card2 .image{
        display: flex;
        padding:0.5rem;
        justify-content: center;
        align-items: center;
    }
    
    .small-card3 .image{
        display: flex;
        padding:0.5rem;
        justify-content: center;
        align-items: center;
    }
    
    .small-card4 .image{
        display: flex;
        padding:0.5rem;
        justify-content: center;
        align-items: center;
    }
    
    .small-card1-content{
        text-align: center;
        padding: 0;
    }
    
    .small-card1-content h3{
        font-size: 0.4rem;
        font-weight: 300;
    }
    
    .small-card1-content p{
        font-size: 0.3rem;
        font-weight: 300;
    }
    
    .small-card1-content-links{
        display: flex;
        gap: 3px;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: black;
        border: #fff 1px solid;
        padding: 0.1rem 0;
        margin: 0.3rem 1.3rem;
        border-radius: 3px;
    }

    .small-card1-content-links a{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .small-card1-content-links img{
        width: 7px;
    }
    
    .small-card2{
        width: 20%;
        height: 100%;
        border: 1px solid #3c63ff;
        background-color: black;
        border-radius: 12px;
    }
    
    .small-card2:hover{
        background-color: #3c63ff;
    }
    
    .small-card3{
        width: 20%;
        height: 100%;
        border: 1px solid #3c63ff;
        background-color: black;
        border-radius: 12px;
    }
    
    .small-card3:hover{
        background-color: #3c63ff;
    }
    
    .small-card4{
        width: 20%;
        height: 100%;
        border: 1px solid #3c63ff;
        background-color: black;
        border-radius: 12px;
    }
    
    .small-card4:hover{
        background-color: #3c63ff;
    }
    
    /* ----------------------------Contact Section--------------------------- */
    
    #contact-heading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
    }
    
    #contact-heading h2{
        letter-spacing: 0.5px;
        font-size: 1.3rem;
        font-weight: 300;
    }
    
    #contact-heading p{
        font-weight: 300;
        letter-spacing: 0.5px;
        font-size: 0.5rem;
    }
    
    .contact-content-heading{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.5rem;
    }
    
    .contact-content-heading h3{
        font-size: 0.7rem;
        font-weight: 300;
        margin-bottom: 1rem;
    }
    
    .contact-content{
        display: flex;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        padding: 0;
    }
    
    .contact-content-left{
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .contact-content-left p{
        border: 1px solid;
        padding: 1rem;
        margin: 1rem;
        font-size: 0.85rem;
        font-weight: 200;
        border-radius: 15px;
    }
    
    .contact-content-left h1{
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
        font-weight: 200;
    }
    
    .contact-content-right{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 1rem;
    }
    
    .contact-content-rt-img img{
        height: auto;
        padding-left: 0;
        width: 70%;
    }
    
    /*      Footer Section    */
    
    .pre-footer h3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        margin-top: 0;
        font-size: 0.5rem;
        margin-bottom: 0;
        width: 100vw;
        padding: 5px 0;
    }
    
    .footer{
        display: flex;
        justify-content: center;
        position: absolute;
        margin-bottom: 0;
        padding: 0.3rem;
        border-top: #fff 1px solid;
    }
      
    .footer p{
        font-size: 0.5rem;
    }
      
    .footer a{
        font-size: 0.5rem;
        text-decoration: none;
        color: #3c63ff;
    }
}